<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiteraturePlatformClient</title>

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="blog-home-blog-home">
    <div class="blog-home-topheader">
        <div class="innerheaderflex">
            <div class="blog-home-locofyguielogo">
                <a href="index.html">
                    <img src="~/images/logo.png"
                         alt="image365042"
                         class="blog-home-image36" />
                </a>
            </div>
            <div class="blog-home-headerlinks">
                <div class="blog-home-tryforfree">
                    <div class="blog-home-frame774">
                        <a asp-action="Login" asp-controller="Account" ><span class="blog-home-text02">Sign up</span></a>
                    </div>
                </div>

                <div class="dropdown">
                    <div class="select">
                        <span class="selected">Your name</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <a asp-action="Account">
                            <li class="active">Account</li>
                        </a>
                        <a asp-action="Create" asp-controller="Home">
                            <li>Add composition</li>
                        </a>
                        <li>Log out</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <span class="blog-home-text62">
            <span>© 2022, Literature Platform. All Rights Reserved.</span>
        </span>
        <img src="~/images/logo.png" alt="madewithlocofyimage9830" class="blog-home-madewithlocofyimage" />
    </div>
    </div>
    <script src="~/js/dropdown-menu-code.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
