@page


<div class="inputblock">
    <div class="innerblock">
        <div class="inputgroupreg">
            <span class="ttt">Registration</span>
            <div>
                <label for="Login">Login</label>
                <input type="text" name="Login" id="password">
            </div>
            <div>
                <label for="Email">Email</label>
                <input type="text" name="Email" id="email">
            </div>
            <div>
                <label for="Password">Password</label>
                <input type="password" name="Password" id="email">
            </div>
            <div>
                <label for="CPassword">Confirm Password</label>
                <input type="password" name="CPassword" id="email">
            </div>
            <input class="mbtn" type="submit" value="Register">
        </div>
        <img src="books.jpg" alt="">
    </div>
</div>

