@model LiteraturePlatformClient.Models.RegisterModel



<div class="inputblock">
    <div class="innerblock">
        <div class="inputgroupreg">
            <form method="post" asp-action="Register">
                <span class="ttt">Registration</span>
                <div>
                    <label asp-for="Login">Login</label>
                    <input type="text" asp-for="Login" id="password" required>
                    <span style="color: red" asp-validation-for="Login"></span>
                </div>
                <div>
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" id="email" required>
                    <span style="color: red" asp-validation-for="Email">
                        @(ViewBag.EmailError != null ? ViewBag.EmailError : "")
                    </span>
                </div>
                <div>
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" id="email" required>
                    <span style="color: red" asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" id="email" required>
                    <span style="color: red" asp-validation-for="ConfirmPassword"></span>
                </div>
                <input class="mbtn" type="submit" value="Register">
            </form>
        </div>
        <img src="~/images/books.jpg" alt="">
    </div>
</div>

